body{
	font-family: arial,helvetica,sans-serif;
	background-color: #ff0;
}
table{
	width: 90%;
	clear: left;
	float: left;
	padding: 2px 0;
	margin: 0 0 2px 2%;
	display: inline;
	background-color: #0ff;
}
